.banners-item{
    .row{
        .banner-series{
            a{
                img{
                    border-radius: 10px!important;
                }
            }
        }
    }
}
// for banner description
.banner-description{
    .row{
        .img-description{
            .text-description{
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 25px;
                right:20px;
                span{
                    margin-bottom: 12px;
                    font-size: $default-font-size + 8;
                    font-weight: bold;
                }
            }
        }
    }
}
// for banner series computer
.banner-series-computer{
    .row{
        .img-ultra-height{
            width: 29.3%;
            a{
                img{
                    border-radius: 10px;
                    height: 100%;
                }
            }
        }
        .images-series-top{
            width: 68.7%;
            div{
                div{
                    a{
                        img{
                            border-radius: 10px;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}