.category-scroller-nav {
  .row {
    .category-nav {
        max-width: 100%;
      white-space: nowrap;
      padding-bottom: 8px;
      @media screen and (max-width: 1400px) {
        overflow-x: scroll;
        &::-webkit-scrollbar {
          height: 5px;
        }
        &::-webkit-scrollbar-track {
          background: #fff;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #f0f0f0;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: rgb(217, 217, 217);
        }
      }
      .category-item-nav {
            display: flex;
            flex-wrap: nowrap;
            vertical-align: top;
            width: 100px;
            margin-left: 13px;
            color: #111;
            text-align: center;
            white-space: normal;
        .category-item{
            width: 100%;
            img {
                width: auto;
                height: 100px;
            }
            p {
              font-size: $default-font-size - 2;
              text-align: center;
              margin-top: 5px;
            }
        }
      }
    }
  }
}
